* {
    font-family: sans-serif;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-bottom: 2px solid black;
}

.row {
    margin-bottom: 8px;
}

.btn {
    padding: 8px 50px;
}

#Test {
    width: 25%;
    border: solid black 3px;
    text-align: center;
    margin: 25px 0px;
}