* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
}

body > header {
    padding: 2.5rem;
    text-align: center;
    background-color: #423152;
    color: white;
}
main {
    background-color: #F8F8F5;
}

.contenedor-evidencia {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.evidencias-article {
    margin-top: 60px;
}

.encabezado-evidencia {
    text-align: center;
    margin-bottom: 20px;
}

.practicas-section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 500px;
}

.practicas-section > h3 {
    text-align: center;
    padding: 1rem;
}

.practicas-contenedor {
    padding: 0 1rem 1rem 1rem;
    line-height: 1.5;
}

a:hover {
    color: red;
}