* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.43;
    margin-top: 150px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.universal-nav {
    background-color: #0a0a23;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5px;
}

.universal-nav-izquierda {
    display: flex;
    align-items: center;
    flex: 1 0 33%;
    gap: 10px;
    margin-left: 10px;
}

.universal-nav-izquierda input {
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    background-color: #3b3b4f;
    border-color: #3b3b4f;
    padding: 4px;
}

.universal-nav-derecha {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 33%;
    gap: 10px;
    margin-right: 10px;
}

.universal-nav-derecha a {
    border: 1px solid white;
    padding: 0 5px;
    color: white;
}

.universal-nav-derecha a:hover {
    background-color: white;
    color: black;
}

#boton-amarillo {
    background-color: #ffac33;
    border: 1px solid #feac32;
    color: black;
}

#boton-amarillo:hover {
    background-color: #fecc4c;
    border: 1px solid #feac32;
    color: black;
}


.encabezado-sitio {
    padding-block: 4vw;
    padding: 0 15px;
    margin: 0 auto;
    width: 40%;    
}

.encabezado-titulos {
    font-size: 2.5rem;
    margin-bottom: 25px;
    font-weight: 700;
}

#encabezado-texto {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
}

.encabezado-redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.encabezado-redes img{
    height: 40px;
    width: auto;
    margin-bottom: 20px;
}

.encabezado-boton {
    display: flex;
    justify-content: center;
}

.encabezado-sitio a {
    background-color: #ffac33;
    border: 1px solid #feac32;
    color: black;
    display: inline-block;
    width: 20vw;
    padding: 5px 0;
    text-align: center;
}

.encabezado-sitio a:hover {
    background-color: #fecc4c;
    border: 1px solid #feac32;
    color: black;
}

.as-seen-in {
    background-color: #3b3b4f;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 50px;
}

figcaption {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

figcaption img {
    width: 50vw;
    height: auto;
}