/* SELECTORES */

/* * {
    border: 3px double blue;
} */

/* SELECTOR DE TIPO
 */
li {
    background-color: red;
    color: white;
    border: 4px dashed green;
    border-radius: 5px;
}

/* SELECTOR POR ID */

#mp1 {
    border-top: 5px groove gray;
}

/* SELECTORES DE CLASE */

.sombra {
    box-shadow: 5px 5px 5px gray;
}

/* main.sombra {
    font-size: 10px;
}
 */
/* [lang] {
    font-size: 30px;
}

[lang="es"] {
    background-color: gray;
}

[href^="https"] {
    color:white
} */

/* SELECTOR CONDECENDENTE */

main p {
    color: blue;
    font-size: 16px;
}

/* SELECTOR HIJOS DIRECTOS */

main > p {
    box-shadow: 5px 5px 5px greenyellow;
}