/* Selector universal */

/* * {
    border: 3px double blue;
}
 */

 /* Selector de tipo */
 li {
    background-color: rgb(0, 255, 34);
    color:black;
    border: 4px dashed rgb(255, 0, 153);
    border-radius: 5px;
 }
 
 /* selector por id */
 #mp1 {
    border-top: 5px groove rgb(0, 0, 0);
 }


/* selector de clase */
.sombra {
    box-shadow: 5px 5px 5px gray;
}

main.sombra {
    font-size: 10px;
}

/* selector por atributo */

[lang] {
    font-size: 30px;
}

[lang="es"] {
    background-color: rgb(255, 255, 255);
}

[href ^="https"] {
    background-color: rgb(0, 208, 255);
}

[href $="mx"] {
    background-color: red;
}

[href *="h"] {
    background-color: black;
    color:white;
}

/* selector por descencientes */
main p {
    border: 2px dotted blue;
    border-radius: 5px;
}

/* Selector hijos directos */
main > p {
    box-shadow: 5px 5px 5px rgb(255, 0, 0);
}

