header {
    background-color: magenta;
}

main {
    background-color: goldenrod;
}

aside {
    background-color: lawngreen;
}

footer {
    background-color: saddlebrown;
}

#mp1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:"h h"
                        "a m"
                        "f f";
    margin: 5px;
}

#mp1 header {
    grid-area: h;
}

#mp1 main {
    grid-area: m;
}

#mp1 aside {
    grid-area: a;
}

#mp1 footer {
    grid-area: f;
}

#contenedor {
    display: flex;
    margin: 0px;
}

#contenedor section {
    margin: 0 5px;
}

.boton1 {
    border: 2px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;

}

header h2 {
    color: white;
}

#header-main {
    background-color: #0a0a23;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_main input {
    width: 40%;
}

#header_main h2 {
    width: 40%;
    margin-left: 5px;
}