header{
    background-color:  lightpink ;
}

main{
    background-color:  lightblue ;
}

aside{
    background-color: lightgreen ;
}

footer{
    background-color: gold ;
}

#mp1 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: "h h"
                         "a m"
                         "f f";
}

#mp1 header{
    grid-area: h;
}
#mp1 main{
    grid-area: m;
}
#mp1 aside{
    grid-area: a;
}
#mp1 footer{
    grid-area: f;
}

#contenedor{
    display: flex;
}
#contenedor section{
    margin: 0 5px;
}

.boton1{
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
}


#header-main h2{
   margin-left: 5px;
   width: 40%;
   color: white;
}

#header-main {
    background-color: #0a0a23;
    display: flex;
    align-items: center;
    height: 80px;
}

#header-main input{
    width: 40%;
}

.botonamarillo{
    background-color:  gold;
    padding: 5px;
    text-decoration: none;
    color: white;
}
