header {
    background-color: magenta;
}

main {
    background-color: goldenrod;
}

aside {
    background-color: lawngreen;
}

footer {
    background-color: saddlebrown;
}

#mp1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "h a"
                         "m a"
                         "f a";
}

#mp1 header {
    grid-area: h;
}

#mp1 main {
    grid-area: m;
}

#mp1 aside {
    grid-area: a;
}

#mp1 footer {
    grid-area: f;
}

#contenedor {
    display: flex;
}

#contenedor section {
    margin: 0 5px;
}

.boton1 {
    border: 2px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;

}

.botonamarillo {
    border: 1px solid cyan;
    background-color: cadetblue;
    color: white;
}

#header-main {
    background-color: #0a0a23;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
}

#header-main input {
    width: 40%;
}

#header-main h3 {
    width: 40%;
    margin-left: 5px;
}