html{
    background-color: rgb(245, 245, 245);
}




.boton1{
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
}

header h2 {
    color: white;
}

#Header-main{
    background-color: rgb(32, 4, 4);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#Header-main input{
    width: 40%;
}

#Header-main h2{
    margin-left: 5px;
    width: 40%;
}

#mp2 {
    align-items: center;
}

.Imagen {
    text-align: center;
}

h2.boton2{
    background-color: #ffb036;
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 100px;
}

footer{
    background-color: #3b3b4f
}

footer h1{
    color: #d0d0d5;
    font-size: 50px;


}

main #main2{
    text-align: center;
}

main p{
    font-size: 40px;
    text-align: center;
}


#header1 img {
    float: left;
    margin-right: 1em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#header1 {
    background-color: white;
}

#header1 p {
    font-size: 25px;
}

#header2{
    background-color: white;
}


#header2 img {
    float: left;
    margin-right: 1em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


#header2 p {
    font-size: 25px;
}
#header3{
    background-color: white;
}


#header3 img {
    float: left;
    margin-right: 1em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


#header3 p {
    font-size: 25px;
}

.Imagen4{
    text-align: center;
}

.Imagen4 p{
    font-size: 50px;
}

#nuevos h1{
    text-align: center;
    font-size: 50px;
    margin-left: 50px;
    margin-right: 300px;
}

#nuevos h3{
    text-align: left;
    font-size: 23px;
    margin-left: 246px;
    margin-right: 200px;
}

#nuevos p{
    text-align: left;
    font-size: 25px;
    margin-left: 246px;
    margin-right: 200px;
}

#nuevos h1{
    text-align: left;
    font-size: 30px;
    margin-left: 246px;
    margin-right: 200px;
}


#footer2{
    background-color:#d0d0d5;
    grid-column: 1 / -1;
}

#botonnuevo{
    display: flex;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c,#ffac33);
    border-color: #feac32;
    border-width: 3px;
    color: #0a0a23!important;
    margin: 0 auto;
    font-size: 20px;
    max-height: 100%;
    max-width: 500px;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#mp0 main{
    background-color: #d0d0d5;
}
#mp0 aside{
    background-color: #d0d0d5;
    text-align: center;
}

#mpo p{
    text-align: right;
}

#mp0 {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

#footer2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}