header {
    background-color: magenta;
}

main {
    background-color: goldenrod;
}

aside{
    background-color: lawngreen;
}

footer {
    background-color: saddlebrown;
}

#mp1 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "h h"
                         "m a"
                         "f f";
    margin: 5px;
}

#mp1 header{
    grid-area: h;
}

#mp1 main{
    grid-area: m;
}

#mp1 aside{
    grid-area: a;
}

#mp1 footer{
    grid-area: f;
}

#Contenedor{
    display: flex;
}

#Contenedor section{
    margin: 20px;
}

.boton1{
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
}

#header-main h2 {
    color: white;
}

#header-main{
    background-color: #0a0a23;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

#header-main input{
    width: 40%;
}

#header-main h2{
    margin-right: 10px;
    margin-left: 20px;
    width: 40%;
}