header {
    background-color: magenta;
}

main {
    background-color: palegreen;
}

aside {
    background-color: yellow;
}

footer {
    background-color: olive;
}

#mp1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "h h"
                         "a m"
                         "f f";

}

#mp1 header {
    grid-area: h;
}

#mp1 main {
    grid-area: m;
}

#mp1 aside {
    grid-area: a;
}

#mp1 footer {
    grid-area: f;
}

#contenedor section {
    margin: 0 5px;
}

#contenedor {
    display: flex;
}

.boton1 {
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
}

#header-main h2 {
    color: white;
}
.botonAmarillo {
    display: flex;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c,#ffac33);
    border: 3px solid #feac32;
    color: #0a0a23;
    text-decoration: none;
    padding: 5px;
    justify-content: center;
}

#header-main {
    background-color: #0a0a23;
    display: flex;
    align-items: center;
}

#header-main input {
    width: 40%;
}

#header-main h2 {
    margin-left: 5px;
    width: 40%;
}

#section1 {
    display: flex;
    flex-flow: column nowrap;
    color: #1b1b32;
    font-family: Arial;
    padding: 4rem 18rem;
    font-size: 25px;
    background-color: #f5f6f7;
}

#section2 {
    display: flex;
    flex-flow: column nowrap;
    color: #d0d0d5;
    font-family: Arial;
    padding: 4rem 18rem;
    font-size: 25px;
    background-color: #292934;
    text-align: center;
}

#section3 {
    display: flex;
    flex-flow: column nowrap;
    color: #1b1b32;
    font-family: Arial;
    font-size: 25px;
    background-color: #f5f6f7;
    text-align: center;
}

#encabezado1 img {
    float: left;
    margin-right: 1em;
}

#encabezado1 {
    font-size: 20px;
}

#encabezado2 img {
    float: left;
    margin-right: 1em;
}

#encabezado2 {
    font-size: 20px;
}

#encabezado3 img {
    float: left;
    margin-right: 1em;
}

#encabezado3 {
    font-size: 20px;
}