header{
    background-color: magenta;
}

main{
    background-color: goldenrod;
}

aside{
    background-color: lawngreen;
}

footer{
    background-color: saddlebrown;
}

#mp1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:"h h"
                        "a m"
                        "f f";
}

#mp1 header{
    grid-area: h;
}

#mp1 main{
    grid-area: m;
}

#mp1 aside{
    grid-area: a;
}

#mp1 footer{
    grid-area: f;
}

#contenedor {
    display: flex;
}

#contenedor section{
    margin: 0 5px ;
}

.boton1 {
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
    
}

#header-main h2{
    color: white;
    width: 40%;
    margin-left: 5px;
}

#header-main input{
    width: 40%;
}

.botonAmarrillo{


}

#header-main{
    background-color: #0a0a23;
    display: flex;
    align-items: center;
}

#main-pag{
    background-color: #1a1b32;
    display: grid;
}

#main-pag h1{
    text-align: left;
    margin-left: 300px;
    color: white;
}