header {
    background-color: magenta;
}

main{
    background-color: blue;
}

aside{
    background-color: lawngreen;
}

footer {
    background-color: crimson;
}

#mp1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:"h h"
                        "a m"
                        "f f";
}

#mp1 header {
    grid-area: h;
}

#mp1 main {
    grid-area: m;
}

#mp1 aside {
    grid-area: a;
}

#mp1 footer {
    grid-area: f;
}

#contenedor {
    display: flex;
}

#contenedor section{
    margin: 0 5px;
}

.boton1 {
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
}

header h2 {
    color: white;
}

#header-main{
    background-color: #0a0a23;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

#header-main input{
    width: 40%;
}

#header-main h2{
    margin-left: 5px;
    width: 45%;
}

.botonAmarillo {
    background-color: #febc40;
    text-decoration: none;
    color: black;
}

body {
    background-color: #f5f6f7;
}

#textoprincipal {
    display: flex;
    flex-flow: column nowrap;
    color: #1b1b32;
    font-family: Arial;
    padding: 4rem 18rem 0rem;
    font-size: 25px;
}

#diferente {
    font-size: 22px;
    color: #1b1b32;
}

.botonAmarillo2 {
    background-color: #febc40;
    margin: 8% 15% 8% 15%;
    border: 5px solid #feac32;
    padding: .5rem 9rem ;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Arial;
}

section h6{
    display: flex;
    justify-content: center;
    color: #3b3b4f;
}

#seccionlogos {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #3b3b4f;
    color: #d0d0d5;
    font-size: 25px;
    font-family: Arial;
    padding: 2rem 0rem 4rem;
}

#nuevaseccion {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 42px;
    font-family: Arial;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

#persona p{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


#persona > .justificado{
    font-size: 20px;
    margin: 0rem 2rem ;
    font-family: Arial;
}

#persona img {
    float: left;
    margin-right: 3rem;
}

#persona{
    background-color: #ffffff;
    border: 3px solid #e9eaeb;
    margin: 3rem 5rem 3rem ;
    font-size: 22px;
    font-family: Arial;
    color: #3b3b4f;
}

#persona2 p{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#persona2 > .justificado{
    font-size: 20px;
    margin: 0rem 2rem ;
    font-family: Arial;
}

#persona2 img {
    float: left;
    margin-right: 3rem;
}

#persona2{
    background-color: #ffffff;
    border: 3px solid #e9eaeb;
    margin: 4rem 5rem 4rem ;
    font-size: 22px;
    font-family: Arial;
    color: #3b3b4f;
}

#persona3 p{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#persona3 > .justificado{
    font-size: 20px;
    margin: 0rem 2rem ;
    font-family: Arial;
}

#persona3 img {
    float: left;
    margin-right: 3rem;
}

#persona3 {
    background-color: #ffffff;
    border: 3px solid #e9eaeb;
    margin: 4rem 5rem 4rem ;
    font-size: 22px;
    font-family: Arial;
    color: #3b3b4f;
}

.botonAmarillo3 {
    background-color: #febc40;
    margin: 8% 30%;
    border: 5px solid #feac32;
    padding: .5rem 9rem ;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Arial;
}

#seccioneschicas img {
    float: left;
    margin: .5rem 1rem;
}

#seccioneschicas {
    background-color: #d0d0d5;
    border: 3px solid #1b1b32;
    margin: .5rem 17rem;
    font-size: 20px;
    font-family: Arial;
}

#seccioneschicas:hover{
    background-color: #1b1b32;
    color: white;
}

#nuevaseccion3 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 42px;
    font-family: Arial;
    margin: 8rem 17rem 2rem;
}

#nuevaseccion4 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 45px;
    font-family: Arial;
    margin: 2rem 15rem ;
}

#nuevaseccion5 {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    font-size: 42px;
    font-family: Arial;
    margin: 2rem 17rem;
}

#seccioneschicas2 img {
    float: left;
    margin: .5rem 1rem;
}

#seccioneschicas2 {
    background-color: #d0d0d5;
    border: 3px solid #1b1b32;
    margin: .5rem 17rem 4rem;
    font-size: 20px;
    font-family: Arial;
}

#seccioneschicas2:hover{
    background-color: #1b1b32;
    color: white;
}


.botonAmarillo4 {
    background-color: #febc40;
    margin: 30% ;
    border: 5px solid #feac32;
    padding: .5rem 9rem ;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Arial;
}

#Ultimaseccion {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    font-size: 42px;
    font-family: Arial;
    padding: 5rem 16rem 0rem;
}

#textofinal {
    display: flex;
    flex-flow: column nowrap;
    color: #1b1b32;
    font-family: Arial;
    padding: 0rem 16rem 2rem;
    font-size: 17px;
}

.botonAmarillo5 {
    background-color: #febc40;
    margin: 30% ;
    border: 5px solid #feac32;
    padding: .5rem 9rem ;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Arial;
}

#final{
    display: flex;
    background-color: #dfdfe2;
    border: 4px solid black;
    font-size: 17px;
    font-family: Arial;
    flex-wrap: wrap;
    align-content: space-between;
}




