header {
    background-color: magenta;
}

main{
    background-color: blue;
}

aside{
    background-color: lawngreen;
}

footer {
    background-color: crimson;
}

#mp1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:"h h"
                        "a m"
                        "f f";
}

#mp1 header {
    grid-area: h;
}

#mp1 main {
    grid-area: m;
}

#mp1 aside {
    grid-area: a;
}

#mp1 footer {
    grid-area: f;
}

#contenedor {
    display: flex;
}

#contenedor section{
    margin: 0 5px;
}

.boton1 {
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
}

header h2 {
    color: white;
}

#header-main{
    background-color: #0a0a23;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

#header-main input{
    width: 40%;
}

#header-main h2{
    margin-left: 5px;
    width: 45%;
}

.botonAmarillo {
    background-color: #febc40;
    text-decoration: none;
    color: black;
}

body {
    background-color: #f5f6f7;
}

#textoprincipal {
    display: flex;
    flex-flow: column nowrap;
    color: #1b1b32;
    font-family: Arial;
    padding: 4rem 18rem;
    font-size: 25px;
}

#diferente {
    font-size: 22px;
    color: #1b1b32;
}

.botonAmarillo2 {
    background-color: #febc40;
    margin: 8% 15% 8% 15%;
    border: 5px solid #feac32;
    padding: .5rem 9rem ;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Arial;
}

section h6{
    display: flex;
    justify-content: center;
    color: #3b3b4f;
}