* {
    font-family: sans-serif;
}

input[type="text"]{
    padding: 8px;
    border: none;
    border-bottom: 2px solid black;
}

.row {
    margin-bottom: 5px;
}

.btn {
    padding: 8px 50px;
}

#app5Prueba {
    padding: 10px;
    height: 50px;
    border: 1px solid;
    width: 500px;
}
