body {
    background-color: #f5f6f7;
}

header {
    background-color: white;
}

main {
    background-color: white;
}

aside {
    background-color: white;
}

footer {
    background-color: white;
}

#mp1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "h h"
                         "m a"
                         "f f";
}

#mp1 header{
    grid-area: h;
}

#mp1 main {
    grid-area: m;
}

#mp1 aside {
    grid-area: a;
}

#mp1 footer {
    grid-area: f;
}

#Contenedor {
    display: flex;
}

#Contenedor section {
    margin: 0 5px;
}

.boton1 {
    border: 1px solid white;
    padding: 4px;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.boton2 {
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.boton3{
    border: 2px solid rgb(254 172 50);
    padding: 5px;
    text-decoration: none;
    color: #0a0a23;
    margin-right: 5px;
    background-color: #ffb036;
}

#header-main h2 {
    color: white;
    width: 40%;
    margin-left: 50px;
    font-family: monospace;
}


#header-main {
    background-color: #0a0a23;
    display: flex;
    align-items: center;
}


#header-main input {
    width: 40%;
    background-color: #3b3b4f;
}

h1.mainletter {
    text-align: left;
    margin-left: 300px;
}

h2.año {
    text-align: left;
    margin-left: 300px;
}

h2.selector {
    background-color: #ffb036;
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 50px;
}

h2.selector:hover {
    outline: 1px solid #fec949;
}

div.imgkorea {
    text-align: center;
}

.img1 {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 60px;
  }

h1.inf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.articulo1 {
    display: flex;
    align-items: center;
}

.articulo1 img {
    max-width: 50%;
    height: auto;
}

.articulo1 p {
    flex: 1;
}


.logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
}


.logos2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
/*     margin-left: 200px;
    margin-right: 200px; */
    background-color: #3b3b4f;
}

div.titulo {
    text-align: center;
    background-color: #3b3b4f;
    padding: 20px;
    font-size: 25px;
    color: #d0d0d5;
}


article.articulo1 {
    display: flex;
    background-color: white;
    margin-top: 60px;
}

.formato {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

div.alinear {
    text-align: center;
    margin-top: 100px;
}

div.alinear2 {
    text-align: center;
    margin-top: 50px;
}



.div1 {
    max-width: 800px; /* Ancho máximo del div */
    margin: 0 auto; /* Centra horizontalmente */
    border: 3px solid black; /* Borde negro de 2 píxeles */
    margin-top: 50px;
}

.formato2 {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 10px;
    background-color: #d0d0d5;
}

.imagen {
    float: left;
    margin-right: 10px;
}



.div2 {
    max-width: 800px; /* Ancho máximo del div */
    margin: 0 auto; /* Centra horizontalmente */
    border: 3px solid black; /* Borde negro de 2 píxeles */
    margin-top: 10px;
}

.formato3 {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 10px;
    background-color: #d0d0d5;
}

section.preguntas {
    max-width: 800px; /* Ancho máximo del div */
    margin: 0 auto; /* Centra horizontalmente */
    border: 0px solid black; /* Borde negro de 2 píxeles */
    margin-top: 10px;
}

/* section.end {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
} */
